{% extends 'admin.html.twig' %}

{% block title %}New PopulationsType{% endblock %}

{% block body %}
<div class="container">
    <h1>Create new PopulationsType</h1>

    {{ include('admin/populations_type/_form.html.twig') }}

    </div>
</div>
{% endblock %}
