{% extends 'base1.html.twig' %}

{% block title %}Nouvelle fiche séance
{% endblock %}

{% block body %}
<main>
	<div class="tool">
		<div class="container">
				<h1>Nouvelle fiche creation</h1>

				{{ include('member/tools/creation_form.html.twig') }}

			</div>
		</div>
	</div>
</main>
{% endblock %}
