{% extends 'admin.html.twig' %}

{% block title %}Les fiches séances
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Modifier la fiche séance</h1>

		{{ include('admin/tools_session/_form.html.twig', {'button_label': 'Update'}) }}


		{{ include('admin/tools_session/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
