{% extends 'admin.html.twig' %}

{% block title %}Nouvelle fiche séance
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Nouvelle fiche séance</h1>

		{{ include('admin/tools_session/_form.html.twig') }}

		</div>
	</div>
{% endblock %}
