{% extends 'admin.html.twig' %}

{% block title %}Modifier les Categories d'animaux
{% endblock %}

{% block body %}
<div class="administration">
	<fieldset class="container">
		<h1>Modifier les catégories d'animaux</h1>

			
		
		{{ include('admin/animals_categories/_form.html.twig', {'button_label': 'Modifier'}) }}

		{{ include('admin/animals_categories/_delete_form.html.twig') }}
	</div>
	</fieldset>
</div>
{% endblock %}
