{% extends 'base.html.twig' %}

{% block title %}Edit AnimalsCategories{% endblock %}

{% block body %}
    <h1>Edit AnimalsCategories</h1>

    {{ include('admin/animals_categories/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_animals_categories_index') }}">back to list</a>

    {{ include('admin/animals_categories/_delete_form.html.twig') }}
{% endblock %}
