{% extends 'admin.html.twig' %}

{% block title %}Nouvelle categorie d'animaux{% endblock %}

{% block body %}
<div class="container">
    <h1>Créer une nouvelle catégorie</h1>

    {{ include('admin/animals_categories/_form.html.twig') }}

    </div>
</div>
{% endblock %}
