{% extends 'admin.html.twig' %}

{% block title %}Nouveau public
{% endblock %}

{% block body %}
<div class="administration">
	<fieldset class="container">
		<h1>Nouveau public</h1>

		{{ include('admin/populations/_form.html.twig') }}

		</fieldset>
</div>
{% endblock %}
