.base .picture_menu {
  position: relative;
  height: 60vh;
}

.base .picture_menu .icone {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.base .picture_menu .icone i {
  float: right;
  font-size: 1.5rem;
  margin: 10px 10px;
  color: #019a93;
}

.base .picture_menu .icone .title {
  display: none;
  float: right;
  margin-top: 15px;
  width: 155px;
  border: #019a93 1px solid;
  border-radius: 15px;
}

.base .picture_menu .icone a:hover .title {
  display: initial;
}

.base .picture_menu .picture {
  position: absolute;
}

.base .picture_menu .picture .img_nav {
  width: 100vw;
  height: 60vh;
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.base nav {
  background-color: #fb8128;
  height: 50px;
  z-index: 1;
}

.base nav .nav-wrapper .brand-logo {
  top: -17px;
}

.base nav .nav-wrapper .menu {
  height: 50px;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.base nav .nav-wrapper .menu li a {
  font-size: 1.3rem;
}

.base nav .nav-wrapper .menu li .top {
  top: -58px;
}

footer {
  margin-top: 50px;
}

footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #C1C4C6;
}

footer .contact .contact1 {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .contact .contact1 i {
  padding-right: 20px;
  padding-bottom: 20px;
  font-size: 2rem;
}

footer .contact .contact1 a {
  color: black;
  margin-bottom: 1em;
}

footer .contact .divider {
  width: 1px;
  height: 60px;
  margin-top: 25px;
}

footer .partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 190px;
  background-color: #4a9393;
}

footer .partner img {
  width: 100px;
  height: 100px;
}

footer .partner .partner1 a {
  color: black;
  font-style: italic;
}

footer .copyright {
  text-align: center;
  background-color: #C1C4C6;
}

footer .copyright .img {
  width: 15px;
  height: 15px;
  margin-top: 5px;
}

.base1 nav {
  margin-top: 20px;
  height: 50px;
  background-color: #1A60A1;
}

.base1 nav .nav-wrapper .brand-logo {
  top: -17px;
}

.base1 nav .nav-wrapper .menu {
  height: 50px;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.base1 nav .nav-wrapper .menu li a {
  font-size: 1.3rem;
}

.base1 nav .nav-wrapper .menu li .top {
  top: -58px;
}

.base1 .body {
  min-height: 90vh;
}

.admin nav {
  background-color: #1767ff;
}

.admin nav .nav-wrapper a {
  display: block;
}

.admin .sidenav {
  background: -webkit-gradient(linear, left top, right top, color-stop(55%, #526184), color-stop(45%, rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #526184 55%, rgba(0, 0, 0, 0) 45%);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.admin .sidenav li .drop_nav {
  width: 200px;
}

.admin .sidenav li .drop_left {
  left: -165px;
}

.admin .sidenav li .identification_admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin .sidenav li .identification_admin p {
  margin: 0;
  height: 30px;
  color: #fb8128;
}

.admin .sidenav li ul li {
  background-color: #4864B5;
}

.admin .confirm_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.admin .confirm_select img {
  width: 40px;
  height: 40px;
}

.admin .confirm_select button {
  width: 80px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin .confirm_select button i {
  color: black;
}

.admin .confirm_select .btn {
  width: 80px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin .confirm_select p {
  opacity: 0;
}

.admin .confirm_select a:hover p {
  opacity: 1;
}

.admin .confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

.admin .confirm p {
  display: none;
}

.admin i {
  color: black;
}

.admin .confirm1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
}

.admin .confirm1 p {
  display: none;
}

.admin .confirm1 .btn {
  width: 5vw;
  height: 6vh;
}

.admin .confirm1 .btn img {
  width: 50px;
  height: 50px;
}

.login {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeaf90;
}

.login .login_user {
  width: 60vw;
  height: 60vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .login_user .logo_login {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login .login_user .logo_login img {
  width: 80px;
  height: 80px;
  z-index: 1;
  border-radius: 15px;
}

.login .login_user .form {
  background-color: gray;
  border: #fb8128 1px solid;
  border-radius: 15px;
  position: absolute;
  width: 90%;
  height: 90%;
  padding: 20px 20px;
}

.login .login_user .form label {
  color: black;
}

.login .login_user .form .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

.login .login_user .form .button .btn {
  background-color: #019a93;
}

.login .login_user .form .button p {
  margin: 0;
}

.login .register {
  height: 90vh;
}

Main .citation {
  background-color: antiquewhite;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

Main .citation .container {
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

Main .citation .container .citation1 {
  position: absolute;
  width: 100%;
  z-index: 1;
}

Main .citation .container .citation1 p {
  display: block;
  border: #eeaf90 solid 2.5px;
  width: 50vw;
  font-family: 'Clicker Script', cursive;
  font-size: 3rem;
  text-align: center;
}

Main .citation .container .citation_img {
  padding-left: 70%;
}

Main .citation .container .citation_img img {
  display: block;
  width: 21vw;
  height: 18vh;
  opacity: 0.9;
}

Main .blog {
  min-height: 100vh;
}

Main #partners {
  min-height: 500px;
}

Main #partners .title {
  text-align: center;
}

Main #partners .carousel {
  height: 430px;
}

Main #partners .carousel .card {
  width: 13vw;
  height: 25vh;
  border: 1px solid black;
  border-radius: 10px;
}

Main #partners .carousel .card .card-image {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

Main #partners .carousel .card .card-image img {
  max-height: 130px;
}

Main #partners .carousel .card .card-action {
  height: 3vh;
}

Main #partners .carousel .card .card-action a {
  text-transform: none;
}

Main .tool .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
}

Main .tool .title .title1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

Main .tool .confirm1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

Main .tool .confirm1 .btn {
  width: 5vw;
  height: 6vh;
}

Main .tool .confirm1 .btn img {
  width: 50px;
  height: 50px;
}

Main .tool .card {
  height: 50vh;
  margin-top: 80px;
}

Main .tool .card .card-image {
  height: 55%;
}

Main .tool .card .card-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

Main .tool .card .card-content {
  height: 30%;
  padding-bottom: 2px;
}

Main .tool .card .card-action {
  height: 10%;
  padding: 5px 24px;
}

Main .flyer {
  background-color: antiquewhite;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

Main .flyer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

Main .flyer .container #flyer:nth-child(n) {
  margin: 50px;
}

@media screen and (max-width: 1160px) {
  .base nav ul li:nth-child(6) {
    display: none;
  }
  .base nav ul a {
    padding: 0;
  }
}

.contact .input .test {
  width: 68vw;
  height: 25vh;
}

.contact .input label {
  font-size: 1.1rem;
}

.contact .button {
  text-align: center;
}

.contact a {
  float: right;
}

.asso .team_humans .humans {
  background: linear-gradient(135deg, #19E5DB 5%, white 50%);
  padding: 50px;
  margin-top: 50px;
  border-radius: 15px;
}

.asso .team_humans .humans .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.asso .team_humans .humans .picture img {
  float: left;
  margin-right: 30px;
  border-radius: 50px;
}

.asso .team_humans .humans .box {
  position: relative;
  top: 25vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 72%;
  height: 400px;
  background-color: black;
}

.asso .team_humans .humans .box .about {
  padding: 40px;
  text-align: center;
  color: #C1C4C6;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.asso .team_humans .humans .box .picture {
  width: 100%;
  height: 100%;
}

.asso .team_humans .humans .box .picture:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../uploads/pictures/team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -100px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: .5s;
  transition: .5s;
}

.asso .team_humans .humans .box:hover .picture:before {
  -webkit-transform: rotateX(90deg) translateY(50%);
          transform: rotateX(90deg) translateY(50%);
}
/*# sourceMappingURL=style.css.map */