{# {% extends 'base1.html.twig' %} #}

{% block title %}Envoi d'un mail pour nouveau mot de passe {% endblock %}

{% block body %}
<div class=" login">
    <div class="login_user">
        <div class="logo_login">
            <img src="{{asset("uploads/Logo-AMIMO-62285fcb0ff53.jpg")}}" alt="">
        </div>
        <div class="form">
            <p>
                Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un
                lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
                Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData,
                'ResetPasswordBundle') }}.
            </p>
            <p>Si vous ne recevez pas d'Email, regardez dans vos spams ou <a
                    href="{{ path('app_forgot_password_request') }}">Essayer de nouveau </a>.</p>
        </div>
    </div>
</div>
{% endblock %}