{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<main>
    <section class="citation">
        <div class="container">
            <div class="citation1">
                <p>- Qu'est ce que signifie << apprivoiser>> ? </br> - C'est une chose trop oubliée, </br> dit le
                        renard. Ca signifie << créer des liens>>.</p>
            </div>
            <div class="citation_img"><img src="{{asset("uploads/pictures/petit_prince.png")}}"
                    alt="renard et petit prince">
            </div>
        </div>
    </section>
    <div class="partners">
        <section id="owl-1">
        {% for partner in partners %}
        <pre>
            {{ dump(partner) }}
        </pre>
            <div class="owl-carousel owl-theme">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{ asset('uploads/' ~ partner.partnerpicture) }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        <p><a href="" target="_blank">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
    </div>
</main>

{% endblock %}