{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<main>
    <section class="citation">
        <div class="container">
            <div class="citation1">
                <p>- Qu'est ce que signifie << apprivoiser>> ? </br> - C'est une chose trop oubliée, </br> dit le
                        renard. Ca signifie << créer des liens>>.</p>
            </div>
            <div class="citation_img"><img src="{{asset("uploads/pictures/petit_prince.png")}}"
                    alt="renard et petit prince">
            </div>
        </div>
    </section>
</main>

{% endblock %}