{% extends 'base1.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<main>
    <section class="mentions">
    <div class="container">
    {% for association in associations %}
    <div class="presentation">
    :	<p>{{association.associationmentionslegales|raw}}</p>
            {# <pre>
                {{ dump(association) }}
            </pre> #}
    </div>
    {% endfor %}
</div>
</main>

{% endblock %}