{% extends 'base1.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<main>
    <section class="mentions">
      <h2>Mentions Légales</h2>
        

MENTIONS LÉGALES

Editeur du site :

Association ANIMENVIE Numéro de SIRET : 789 961 331 00012

Responsable éditorial : Camille De Ravinel

La Boursaudière – 85710 La Garnache

Téléphone : 02 28 10 07 61 ou 06 61 41 72 04

Email : animenvie@orange.fr

Site Web : www.animenvie.com

Photographies : Cécile Langlois MAIF, ANIMENVIE

Hébergement :

Hébergeur : 1 & 1 INTERNET

7 place de la gare, 57200 Sarreguemines

Site Web : www.animenvie.com

Développement :

Jean Hacques

Conditions d’utilisation :

Ce site (www.animenvie.com) est proposé en différents langages web (HTML, HTML5, Javascript, CSS, etc…) pour un meilleur confort d’utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme Internet explorer, Safari, Firefox, Google Chrome, etc… L’association ANIMENVIE met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à jour fiable de ses sites internet. Toutefois, des erreurs ou omissions peuvent survenir. L’internaute devra donc s’assurer de l’exactitude des informations auprès de , et signaler toutes modifications du site qu’il jugerait utile. n’est en aucun cas responsable de l’utilisation faite de ces informations, et de tout préjudice direct ou indirect pouvant en découler.

Cookies : Le site www.animenvie.com peut-être amené à vous demander l’acceptation des cookies pour des besoins de statistiques et d’affichage. Un cookies est une information déposée sur votre disque dur par le serveur du site que vous visitez. Il contient plusieurs données qui sont stockées sur votre ordinateur dans un simple fichier texte auquel un serveur accède pour lire et enregistrer des informations . Certaines parties de ce site ne peuvent être fonctionnelles sans l’acceptation de cookies.

Liens hypertextes : Les sites internet de peuvent offrir des liens vers d’autres sites internet ou d’autres ressources disponibles sur Internet. ANIMENVIE ne dispose d’aucun moyen pour contrôler les sites en connexion avec ses sites internet. ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. Elle ne peut être tenue pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments. Les risques liés à cette utilisation incombent pleinement à l’internaute, qui doit se conformer à leurs conditions d’utilisation. Les utilisateurs, les abonnés et les visiteurs des sites internet ne peuvent pas mettre en place un hyperlien en direction de ce site sans l’autorisation expresse et préalable de ANIMENVIE. Dans l’hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction d’un des sites internet de ANIMENVIE, il lui appartiendra d’adresser un email accessible sur le site afin de formuler sa demande de mise en place d’un hyperlien. ANIMENVIE se réserve le droit d’accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.

Services fournis :

L’ensemble des activités de la société ainsi que ses informations sont présentés sur notre site www.animenvie.com. ANIMENVIE s’efforce de fournir sur le site www.animenvie.com des informations aussi précises que possible. les renseignements figurant sur le site www.animenvie.com ne sont pas exhaustifs et les photos non contractuelles. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne. Par ailleurs, tous les informations indiquées sur le site www.animenvie.com sont données à titre indicatif, et sont susceptibles de changer ou d’évoluer sans préavis.

Limitation contractuelle sur les données :

Les informations contenues sur ce site sont aussi précises que possible et le site remis à jour à différentes périodes de l’année, mais peut toutefois contenir des inexactitudes ou des omissions. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par email, à l’adresse animenvie@orange.fr, en décrivant le problème de la manière la plus précise possible (page posant problème, type d’ordinateur et de navigateur utilisé, …). Tout contenu téléchargé se fait aux risques et périls de l’utilisateur et sous sa seule responsabilité. En conséquence, ne saurait être tenu responsable d’un quelconque dommage subi par l’ordinateur de l’utilisateur ou d’une quelconque perte de données consécutives au téléchargement. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour. Les liens hypertextes mis en place dans le cadre du présent site internet en direction d’autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de ANIMENVIE.

Propriété intellectuelle :

Tout le contenu du présent site www.animenvie.com, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société à l’exception des marques, logos ou contenus appartenant à d’autres sociétés partenaires ou auteurs. Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l’accord exprès par écrit de ANIMENVIE. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des Contenus copiés pourraient intenter une action en justice à votre encontre.

Déclaration à la CNIL :

Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l’égard des traitements de données à caractère personnel) relative à l’informatique, aux fichiers et aux libertés, ce site a fait l’objet d’une déclaration 1656629 auprès de la Commission nationale de l’informatique et des libertés (www.cnil.fr).

Litiges :

Les présentes conditions du site www.animenvie.com sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l’interprétation ou de l’exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le siège social de la société. La langue de référence, pour le règlement de contentieux éventuels, est le français. Données personnelles : De manière générale, vous n’êtes pas tenu de nous communiquer vos données personnelles lorsque vous visitez notre site Internet www.animenvie.com. Cependant, ce principe comporte certaines exceptions. En effet, pour certains services proposés par notre site, vous pouvez être amenés à nous communiquer certaines données telles que : votre nom, votre fonction, le nom de votre société, votre adresse électronique, et votre numéro de téléphone. Tel est le cas lorsque vous remplissez le formulaire qui vous est proposé en ligne, dans la rubrique « contact ». Dans tous les cas, vous pouvez refuser de fournir vos données personnelles. Dans ce cas, vous ne pourrez pas utiliser les services du site, notamment celui de solliciter des renseignements sur notre société, ou de recevoir les lettres d’information. Enfin, nous pouvons collecter de manière automatique certaines informations vous concernant lors d’une simple navigation sur notre site Internet, notamment : des informations concernant l’utilisation de notre site, comme les zones que vous visitez et les services auxquels vous accédez, votre adresse IP, le type de votre navigateur, vos temps d’accès. De telles informations sont utilisées exclusivement à des fins de statistiques internes, de manière à améliorer la qualité des services qui vous sont proposés. Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.

    </section>
    Mentions légales du site canis-major.fr
    Responsable de la publication
    
    En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux utilisateurs du site www.canis-major.fr l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
    
    Propriétaire du site : Eric Amedjkane – Canis Major
    Rue des acacias, 44580 Villeneuve-en-Retz.
    Loi informatique et libertés
    
    Conformément à l’article 39 de la loi « Informatique et Libertés » du 6 janvier 1978, l’utilisateur dispose d’un droit d’accès, de modification, de rectification et de suppression des données le concernant. Pour l’exercice de ces droits, l’utilisateur est invité à s’adresser par courriel à Canis Major (contact@canis-major.fr).
    
    L’utilisateur peut également, pour des motifs légitimes, s’opposer au traitement des données le concernant. L’utilisateur trouvera des informations sur ses droits et devoirs et sur la protection des données individuelles sur le site de la CNIL : « Commission Nationale Informatique et Libertés ».
    
    Les utilisateurs du site Internet canis-major.fr sont invités à faire connaître à Canis Major leurs remarques sur d’éventuels dysfonctionnements du site, au regard des libertés individuelles, à l’une ou l’autre des adresses indiquées ci-avant.
    Propriété intellectuelle
    
    Toute reproduction intégrale ou partielle, par quelque procédé que ce soit, faite sans le consentement préalable et écrit de Canis Major est illicite et constitue une contrefaçon donnant lieu à des sanctions pénales. Conformément aux dispositions de la loi n 98-536 du 1er juillet 1998, portant transposition dans le Code de la propriété intellectuelle de la directive 96/9/CE du 11 mars 1996, concernant la protection juridique des bases de données, Canis Major est producteur de sa base de données, accessible sur le présent site, et dont il est le seul propriétaire.
    
    En accédant au présent site, vous reconnaissez que les données le composant sont légalement protégées et, conformément aux dispositions de la loi du 1er juillet 1998, vous vous interdisez notamment d’extraire, réutiliser, stocker, reproduire, représenter ou conserver, directement ou indirectement, sur un support quelconque, par tout moyen et sous toute forme que ce soit, tout ou partie qualitativement ou quantitativement substantielle du site auquel vous accédez ainsi que d’en faire l’extraction ou la réutilisation répétée et systématique de parties qualitativement et quantitativement non substantielles lorsque ces opérations excèdent manifestement les conditions d’utilisation normales.
    Directeur de la publication
    
    Eric Amedjkane – Email : contact@canis-major.fr
    Conception
    
    KITACOM
    Agence Web et Print du Pays de Retz et en Loire-Atlantique & Vendée
    Hébergement
    
    O2SWITCH
    222-224 boulevard Gustave Flaubert
    63000 CLERMONT-FERRAND
    SARL au capital de 100 000 €
    RCS CLERMONT-FERRAND 510 909 807
    
    
Conditions générales d’utilisation du site canis-major.fr

Préambule

Les présentes conditions générales d’utilisation sont conclues entre :

– le gérant du site internet, ci-après désigné « l’Éditeur »,

– toute personne souhaitant accéder au site et à ses services, ci-après appelé « l’Utilisateur ».

Article 1 – Principes

Les présentes conditions générales d’utilisation ont pour objet l’encadrement juridique de l’utilisation du site  canis-major.fr et de ses services.

Le site Internet canis-major.fr est un service de : CANIS MAJOR

Adresse URL du site : canis-major.fr

e-mail : contact@canis-major.fr

Les conditions générales d’utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut acceptation de ces conditions.

Article 2 – Evolution et durée des CGU

Les présentes conditions générales d’utilisation sont conclues pour une durée indéterminée. Le contrat produit ses effets à l’égard de l’Utilisateur à compter du début de l’utilisation du service.

Le site CANIS MAJOR se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment et sans justification.

Article 3 – Accès au site

Tout Utilisateur ayant accès à internet peut accéder gratuitement et depuis n’importe où au site canis-major.fr. Les frais supportés par l’Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à la charge de l’Éditeur.

Le site et ses différents services peuvent être interrompus ou suspendus par l’Éditeur, notamment à l’occasion d’une maintenance, sans obligation de préavis ou de justification.

L’Utilisateur du site a accès aux services suivants : Informations sur les services proposés par canis-major.fr.

Article 4 – Responsabilités

La responsabilité de l’Éditeur ne peut être engagée en cas de défaillance, panne, difficulté ou interruption de fonctionnement, empêchant l’accès au site ou à une de ses fonctionnalités.

Le matériel de connexion au site utilisée est sous l’entière responsabilité de l’Utilisateur qui doit prendre toutes les mesures appropriées pour protéger le matériel et les données notamment d’attaques virales par Internet. L’utilisateur est par ailleurs le seul responsable des sites et données qu’il consulte.

L’Éditeur ne pourra être tenu responsable en cas de poursuites judiciaires à l’encontre de l’Utilisateur :

– du fait de l’usage du site ou de tout service accessible via Internet ;

– du fait du non-respect par l’Utilisateur des présentes conditions générales.

L’Éditeur n’est pas responsable des dommages causés à l’Utilisateur, à des tiers et/ou à l’équipement de l’Utilisateur du fait de sa connexion ou de son utilisation du site et l’Utilisateur renonce à toute action contre l’Éditeur de ce fait.

Si l’Éditeur venait à faire l’objet d’une procédure amiable ou judiciaire à raison de l’utilisation du site par l’Utilisateur, il pourra retourner contre lui pour obtenir indemnisation de tous les préjudices, sommes, condamnations et frais qui pourraient découler de cette procédure.

Il est permis à l’Utilisateur de publier sur le site canis-major.fr :

– des commentaires;

L’Utilisateur s’engage à tenir des propos respectueux des autres et de la loi et accepte que ces publications soient modérées ou refusées par l’Éditeur, sans obligation de justification.

En publiant sur le site, l’Utilisateur cède à la société éditrice le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé.

L’Éditeur s’engage toutefois à citer le membre en cas d’utilisation de sa publication.

Article 5 – Propriété intellectuelle

Tous les documents techniques, produits, photographies, textes, logos, dessins, vidéos, etc., sont soumis à des droits d’auteur et sont protégés par le Code de la propriété intellectuelle. Lorsqu’ils sont remis à nos clients, ils demeurent la propriété exclusive de canis-major.fr, seul titulaire des droits de propriété intellectuelle sur ces documents, qui doivent lui être rendus à sa demande.

Nos clients s’engagent à ne faire aucun usage de ces documents, susceptible de porter atteinte aux droits de propriété industrielle ou intellectuelle du fournisseur et s’engagent à ne les divulguer à aucun tiers, en dehors d’une autorisation expresse et préalable donnée par l’Editeur.

Article 6 – Liens hypertextes

La mise en place par l’Utilisateur de tous liens hypertextes vers tout ou partie du site est strictement interdite, sauf autorisation préalable et écrite de l’Éditeur, sollicitée par courriel à l’adresse suivante : contact@canis-major.fr

L’Éditeur est libre de refuser cette autorisation sans avoir à justifier de quelque manière que ce soit sa décision. Dans le cas où l’Éditeur accorderait son autorisation, celle-ci n’est dans tous les cas que temporaire et pourra être retirée à tout moment, sans obligation de justification à la charge de l’Éditeur.

Dans tous les cas, tout lien devra être retiré sur simple demande de l’Éditeur.

Toute information accessible via un lien vers d’autres sites n’est pas sous le contrôle de l’Éditeur qui décline toute responsabilité quant à leur contenu.

Article 7 – Protection des données personnelles

Données collectées

Les données à caractère personnel qui sont collectées sur ce site sont les suivantes :

– ouverture de compte : lors de la création du compte de l’utilisateur : nom ; prénom ; adresse électronique ; n° de téléphone ; adresse postale ;

– connexion : lors de la connexion de l’utilisateur au site web, celui-ci enregistre, notamment, ses nom, prénom, données de connexion, d’utilisation, de localisation et ses données relatives au paiement ;

– profil : l’utilisation des prestations prévues sur le site web permet de renseigner un profil, pouvant comprendre une adresse et un numéro de téléphone ;

– paiement : dans le cadre du paiement des produits et prestations proposés sur le site web, celui-ci enregistre des données financières relatives au compte bancaire ou à la carte de crédit de l’utilisateur ;

– communication : lorsque le site web est utilisé pour communiquer avec d’autres membres, les données concernant les communications de l’utilisateur font l’objet d’une conservation temporaire ;

– cookies : les cookies sont utilisés, dans le cadre de l’utilisation du site. L’utilisateur a la possibilité de désactiver les cookies à partir des paramètres de son navigateur.
Le site internet canis-major.fr utilise principalement les cookies de mesure d’audience Google Analytics et Google Tag manager.

Utilisation des données personnelles

Les données personnelles collectées auprès des utilisateurs ont pour objectif la mise à disposition des services du site web, leur amélioration et le maintien d’un environnement sécurisé. Plus précisément, les utilisations sont les suivantes :

– accès et utilisation du site web par l’utilisateur ;

– gestion du fonctionnement et optimisation du site web ;

– organisation des conditions d’utilisation des Services de paiement ;

– vérification, identification et authentification des données transmises par l’utilisateur ;

– proposition à l’utilisateur de la possibilité de communiquer avec d’autres utilisateurs du site web ;

– mise en oeuvre d’une assistance utilisateurs ;

– personnalisation des services en affichant des publicités en fonction de l’historique de navigation de l’utilisateur, selon ses préférences ;

– prévention et détection des fraudes, malwares (malicious softwares ou logiciels malveillants) et gestion des incidents de sécurité ;

– gestion des éventuels litiges avec les utilisateurs ;

– envoi d’informations commerciales et publicitaires, en fonction des préférences de l’utilisateur.

Partage des données personnelles avec des tiers

Les données personnelles peuvent être partagées avec des sociétés tierces, dans les cas suivants :

– lorsque l’Utilisateur utilise les services de paiement, pour la mise en oeuvre de ces services, le site web est en relation avec des sociétés bancaires et financières tierces avec lesquelles elle a passé des contrats ;

– lorsque l’Utilisateur publie, dans les zones de commentaires libres du site web, des informations accessibles au public ;

– lorsque l’Utilisateur autorise le site web d’un tiers à accéder à ses données ;

– lorsque le site web recourt aux services de prestataires pour fournir l’assistance utilisateurs, la publicité et les services de paiement. Ces prestataires disposent d’un accès limité aux données de l’utilisateur, dans le cadre de l’exécution de ces prestations, et ont une obligation contractuelle de les utiliser en conformité avec les dispositions de la réglementation applicable en matière protection des données à caractère personnel ;

– si la loi l’exige, le site web peut effectuer la transmission de données pour donner suite aux réclamations présentées contre le site web et se conformer aux procédures administratives et judiciaires ;

– si le site web est impliqué dans une opération de fusion, acquisition, cession d’actifs ou procédure de redressement judiciaire, elle pourra être amenée à céder ou partager tout ou partie de ses actifs, y compris les données à caractère personnel. Dans ce cas, les utilisateurs seraient informés, avant que les données à caractère personnel ne soient transférées à une tierce partie.
Sécurité et confidentialité

Le site web met en oeuvre des mesures organisationnelles, techniques, logicielles et physiques en matière de sécurité du numérique pour protéger les données personnelles contre les altérations, destructions et accès non autorisés. Toutefois, il est à signaler qu’internet n’est pas un environnement complètement sécurisé et le site web ne peut pas garantir la sécurité de la transmission ou du stockage des informations sur internet.

Mise en oeuvre des droits des utilisateurs

En application de la réglementation applicable aux données à caractère personnel, les utilisateurs disposent des droits suivants, qu’ils peuvent exercer en faisant leur demande à l’adresse suivante : contact@canis-major.fr

Le droit d’accès : ils peuvent exercer leur droit d’accès, pour connaître les données personnelles les concernant. Dans ce cas, avant la mise en œuvre de ce droit, le site web peut demander une preuve de l’identité de l’utilisateur afin d’en vérifier l’exactitude.

Le droit de rectification : si les données à caractère personnel détenues par le site web sont inexactes, ils peuvent demander la mise à jour des informations.

Le droit de suppression des données : les utilisateurs peuvent demander la suppression de leurs données à caractère personnel, conformément aux lois applicables en matière de protection des données.

Le droit à la limitation du traitement : les utilisateurs peuvent demander au site web de limiter le traitement des données personnelles conformément aux hypothèses prévues par le RGPD.

Le droit de s’opposer au traitement des données : les utilisateurs peuvent s’opposer à ce que ses données soient traitées conformément aux hypothèses prévues par le RGPD.

Le droit à la portabilité : ils peuvent réclamer que le site web leur remette les données personnelles qui lui sont fournies pour les transmettre à un nouveau site web.

Evolution de la présente clause

Le site web se réserve le droit d’apporter toute modification à la présente clause relative à la protection des données à caractère personnel à tout moment. Si une modification est apportée à la présente clause de protection des données à caractère personnel, le site web s’engage à publier la nouvelle version sur son site. Le site web informera également les utilisateurs de la modification par messagerie électronique, dans un délai minimum de 15 jours avant la date d’effet. Si l’utilisateur n’est pas d’accord avec les termes de la nouvelle rédaction de la clause de protection des données à caractère personnel, il a la possibilité de supprimer son compte.

Article 8 – Cookies

Le site canis-major.fr peut collecter automatiquement des informations standards. Toutes les informations collectées indirectement ne seront utilisées que pour suivre le volume, le type et la configuration du trafic utilisant ce site, pour en développer la conception et l’agencement et à d’autres fins administratives et de planification et plus généralement pour améliorer le service que nous vous offrons.

Article 9 – Loi applicable

Les présentes conditions générales d’utilisation sont soumises à l’application du droit français.

Si les parties n’arrivent pas à résoudre un litige à l’amiable, le litige sera soumis à la compétence des tribunaux français.

</main>

{% endblock %}