{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<main>
    <section class="mentions">
      <h2>Mentions Légales</h2>
    </section>
   
</main>

{% endblock %}