{% extends 'base1.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<main>
  
    <div class="container">
    {% for association in associations %}
    <div class="presentation">
    :	<p>{{association.associationsRGPD|raw}}</p>
         
    </div>
    {% endfor %}
</div>

</main>

{% endblock %}