{% extends 'base1.html.twig' %}

{% block title %}Fiche séance{% endblock %}

{% block body %}
<main>

    <div class="tool">
        <div class="container">
            <h1>Fiches séance</h1>
            <div class="filter">
                <p>flitrer</p>
                <form id="filters">
                    {% for public in populationstype %}
                        <p><label for="cat{{public.id}}"><input type="checkbox" name="populationstype[]" id="cat{{public.id}}" value ="{{public.id}}" ><span>{{public.populationtypename}}</span>
                        </label></p>
                      
                    {% endfor %}
                    {# <input type="hidden"name="page" > #}
                </form>
            </div>
            <div id="content">
            {% include "main/content_tool_session.html.twig" %} 
            </div>
        </div>
    </div>

</main>

{% endblock %}
