<form method="post" action="{{ path('admin_tool_categories_delete', {'id': tool_category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tool_category.id) }}">
<button class="btn red darken-3"><i class="far fa-trash-alt"></i></button>
</form>
