{% extends 'admin.html.twig' %}

{% block title %}Edit ToolCategories{% endblock %}

{% block body %}
    <h1>Edit ToolCategories</h1>

    {{ include('admin/tool_categories/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_tool_categories_index') }}">back to list</a>

    {{ include('admin/tool_categories/_delete_form.html.twig') }}
{% endblock %}
