{% extends 'admin.html.twig' %}

{% block title %}Nouvelle catégorie
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Nouvelle catégorie</h1>

		{{ include('admin/tool_categories/_form.html.twig') }}

	 </div>
	</div>
{% endblock %}
