{% extends 'admin.html.twig' %}

{% block title %}Modifications{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifications</h1>

    {{ include('admin/animals/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('admin/animals/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
