{% extends 'admin.html.twig' %}

{% block title %}Edit Animals{% endblock %}

{% block body %}
    <h1>Edit Animals</h1>

    {{ include('admin/animals/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_animals_index') }}">back to list</a>

    {{ include('admin/animals/_delete_form.html.twig') }}
{% endblock %}
