{% extends 'admin.html.twig' %}

{% block title %}Un nouvel animal
{% endblock %}

{% block body %}
<div class="administration">
	<fieldset class="container">
		<h1>Un nouvel animal</h1>

		{{ include('admin/animals/_form.html.twig') }}
		</div>
	</fieldset>
</div>
{% endblock %}
