{% extends 'admin.html.twig' %}

{% block title %}Les fiches créations
{% endblock %}

{% block body %}
<div class="administration">
	<fieldset class="container">
		<h1>Nouvelle fiche création</h1>

		{{ include('admin/tools_creation/_form.html.twig') }}

		</div>
	</fieldset>
</div>
{% endblock %}
