<form method="post" action="{{ path('admin_mediations_delete', {'id': mediation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mediation.id) }}">
<a href=""><p>Supprimer</p><button class="btn">Delete</button></a>
</form>
