{% extends 'admin.html.twig' %}

{% block title %}Modifier
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Modification</h1>

		{{ include('admin/mediations/_form.html.twig', {'button_label': 'Update'}) }}


		{{ include('admin/mediations/_delete_form.html.twig') }}
        </div>
	</div>
{% endblock %}
