{% extends 'admin.html.twig' %}

{% block title %}Nouvelles données
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Créer nouvelle données</h1>

		{{ include('admin/mediations/_form.html.twig') }}
	    </div>
    </div>
{% endblock %}
