{% extends 'admin.html.twig' %}

{% block title %}Les outils
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Modifier l'outil</h1>

		{{ include('admin/tools/_form.html.twig', {'button_label': 'Update'}) }}


		{{ include('admin/tools/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
