{% extends 'admin.html.twig' %}

{% block title %}Nouvel outil
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Nouvel outil</h1>

		{{ include('admin/tools/_form.html.twig') }}

		<a href="{{ path('admin_tools_index') }}">Revenir à la liste
		</a>
	</div>
{% endblock %}
