{% extends 'admin.html.twig' %}

{% block title %}Modifier l'article
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Modifier l'article</h1>

		{{ include('admin/blogs/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('admin_blogs_index') }}">Revenir à la liste</a>

		{{ include('admin/blogs/_delete_form.html.twig') }}
	</div>
{% endblock %}
