{% extends 'admin.html.twig' %}

{% block title %}Créer un nouvel article
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Créer un nouvel article</h1>

		{{ include('admin/blogs/_form.html.twig') }}

		</div>
	</div>
{% endblock %}
