{% extends 'base.html.twig' %}

{% block title %}New Blogs{% endblock %}

{% block body %}
    <h1>Create new Blogs</h1>

    {{ include('admin/blogs/_form.html.twig') }}

    <a href="{{ path('admin_blogs_index') }}">back to list</a>
{% endblock %}
