{% extends 'base1.html.twig' %}

{% block title %}L'équipe
{% endblock %}

{% block body %}

<main>
	<section class="team">
		<div class="container">


		{% for association in associations %}
			<div class="presentation">
			:	<p>{{association.associationstatut|raw}}</p>
					{# <pre>
						{{ dump(association) }}
					</pre> #}
			</div>
			{% endfor %}

		</div>
	</section>
</main>

{% endblock %}