{% extends 'admin.html.twig' %}

{% block title %}New Associations
{% endblock %}

{% block body %}
<div class="administration">
	<fieldset class="container">
		<h1>Création d'une nouvelle association</h1>

		{{ include('admin/associations/_form.html.twig') }}
	
	

		{# <a href="{{ path('admin_associations_index') }}">revenir à la liste</a> #}
	</fieldset>
</div>
{% endblock %}
