{% extends 'admin.html.twig' %}

{% block title %}Modifier les catégories{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier les catégories</h1>

    {{ include('admin/blog_categories/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_blog_categories_index') }}">Revenir à la liste</a>

    {{ include('admin/blog_categories/_delete_form.html.twig') }}
</div>
{% endblock %}
