{% extends 'admin.html.twig' %}

{% block title %}Nouvelles catégories
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Créer une nouvelle catégorie</h1>

		{{ include('admin/blog_categories/_form.html.twig') }}


	</div>
{% endblock %}
