{% extends 'base1.html.twig' %}

{% block title %}L'équipe
{% endblock %}

{% block body %}

	<main>
		<section class="team">
        <div class="container">
        
     
	  {% for user in users %}
	 {# <pre>
		   {{ dump(user) }}
	   </pre>  #}
	   {{user.presentation|raw}}
	   <img
								src="{{ asset('/uploads/'~ user.picture) }}" alt="" width="150">
	  
  {% endfor %}

                    </div>
		</section>
	</main>

{% endblock %}
