{% extends 'admin.html.twig' %}

{% block title %}Nouveau partenaire
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Création d'un nouveau partenaire</h1>

		{{ include('admin/partners/_form.html.twig') }}
		</div>
	</div>
{% endblock %}
