{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container">
    <h1>Messagerie</h1>

    {{ include('contacts/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('home') }}">Retour</a>

   
</div>
{% endblock %}
