{% extends 'base1.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container contact">
    <h1>Contact</h1>

    {{ include('contacts/_form.html.twig', {'button_label': 'Envoyer'}) }}

    <a href="{{ path('home') }}">Retour</a>

   
</div>
{% endblock %}
